body {
    background: #1D4350;  /* fallback for old browsers */
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-clip: border-box;
    background-origin: content-box;
    background-repeat: no-repeat;
}